.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board {
  width: 100px;
  height: 75px;
  color: red;
  margin: 10px;
  font-size: 36px;
}

.list {
  width: 25px;
  height: 25px;
  font-size: 12px;
  position: relative;
  padding-top: -10px;
  margin-right: 5px;
  margin-left: 5px;
}

.bottom {
  width: 80px;
  height: 60px;
  color: green;
  margin: 15px;
  font-size: 24px;
}

#sequence {
  border-style: solid;
  height: 45px;
  border-width: 3px;
}
